doctype html
head
  title Login
form(action='login' method='post')
  // user input
  | Password:
  br
  input(type='password' name='password' placeholder='Password' required='')
  br
  br
  // submit button
  input(type='submit' value='login')
